/*css for photobooth.html*/

body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  /*align-items: center;
  justify-content: center;*/
  color: #7B503F;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-self: stretch;
}

hr{
  /*color: #7B503F;*/
  display: block;
  border-style: inset;
  /*background-color: #7B503F;*/
}

nav{
  display: flex;
  flex-direction: column;
}
button{
  width: 100px;
  height: 40px;
  color: white;
}
