/*css for photoboothMain.html*/

body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  /*align-items: center;
  justify-content: center;*/
  color: #7B503F;
}

img#headerImg{
  width: 200px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-self: stretch;
    width: 100%;
}

hr{
  /*color: #7B503F;*/
  margin: 0;
  border: 1px solid #7B503F;

  width: 100%;
}

div.pictures{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


nav{
  display: flex;
  flex-direction: column;
  background-color: #7B503F;
  /*align-self: flex-end;*/
  margin-left: auto;
  width: 20%;
}

div#showForUpload{
  display: flex;
  flex-direction: column;
  /*margin-left: 15px;
  margin-top: 15px;*/
  /*margin: 10px;*/
  background-color: #CAB9B2;
  display: none;
}

img.navImage{
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: Transparent;
  border: none;
}

div.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
input{
  width:100px;
  height: 100%;
}

button.firstLevel{
  width: 100px;
  height: 40px;
  color: white;
  background-color: Transparent;
  border: none;
  font-size: 20px;
}

button#uploadButton{
  width: 70px;
  height: 30px;
  margin-top: 20px;
  background-color: #7B503F;
  color: white;
  /*border-color: black;*/
  font-size: 15px;
  margin: 10px;
}

label{
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #7B503F;
  color: white;
  margin:10px;
  padding-top: 10px;
}

 input#fileSelector{
  opacity:0;
  position: absolute;
  z-index: -1;
}

div.indiPicture{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: flex-start;
  margin: 10px;
  flex-shrink: 0;
}

div.indiPicture button{
  background-color: #7B503F;
  color: white;
  width: 40px;
}

div.indiPicture label{
  background-color: grey;
}

div.indiPicture img{
  width: 200px;
  height: 200px;
}

div.addButton{
  display: inline-block;
  position: relative;
}

input.buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
  background: url('photobooth/optionsTriangle.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 55px;
  width: 55px;
}

/*button.buttons img{
  width: auto;
  height: 35px;
  position: absolute;
}*/
